#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #776699;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  background-position: 100% 100%;
}

html.no-js,html.ie8,html.bg{background:color('#aaaadd') #aaaadd repeat-y fixed}::selection{color:#aaaadd;background:#111100}.btf{opacity:1}a:hover{color:rgba(51,51,51,0.25)}.hf .logo a:hover{color:rgba(51,51,51,0.25)}.hf a{-moz-transition:all .3s;-o-transition:all .3s;-webkit-transition:all .3s;transition:all .3s}.hf .fb:hover,.hf .tw:hover,.hf .gp:hover,.hf .gh:hover{background:#aaaadd}.hf .fb:hover{color:#3c5a98}.hf .tw:hover{color:#54a3db}.hf .gp:hover{color:#de4b3b}.hf .gh:hover{background:rgba(51,51,51,0.25)}#zodiac{position:fixed;top:0;left:0;width:100%;height:100%;z-index:-1}#err404{text-align:center}#err404 span{font-size:5.5em;line-height:1em;font-weight:700}ul.panel,ol.panel{padding:0;list-style-type:none;color:#111100}ul.panel li,ol.panel li{background:#aaaadd;margin:20px 0;padding:10px 20px 20px 20px}ul.panel h3,ol.panel h3{display:inline-block;font-size:3em;line-height:.75em;padding:20px 20px 0 0;margin:-10px 20px -20px 0;border-right:2px solid #111100;font-weight:700;color:#aaaadd}ul.panel h3 a,ol.panel h3 a{color:#111100}ul.panel h3 a:hover,ol.panel h3 a:hover{color:#e4e4e4}ul.panel li.comingsoon,ol.panel li.comingsoon{opacity:.3}@media screen and (max-width: 640px){ ul.panel h3,ol.panel h3 {font-size: 2em}}
@import "btf";

.form {
  background:rgba($form-bg,.9);
  padding: 40px;
  max-width:600px;
  margin:40px auto;
  border-radius:$br;
  box-shadow:0 4px 10px 4px rgba($form-bg,.3);
}
