<table class="hf">
    <tr><td colspan="2" class="hr at"><p>We were heavily inspired by the awesome guys over at <a href=https://js.org><strong>JS.org</strong></a>. If you're interested in JavaScript or development, go check them out.</p> 
    <p>We are not reponsible for any content accesible through our DNS service, however we'd still like to keep it safe. If there's an issue, <a href=https://github.com/ColumbineSpace/DNS/issues/1><strong>file an issue on GitHub</strong></a> and we will get back shortly.</p>
    <p>In order to provide our services, we have to collect certain information. Here's our <a href="disclaimer.html"><strong>privacy disclaimer</strong></a>.</td></tr>
   </table>