   <ul class="btf panel">
     <li>
<form class="form" method="post" action="https://api.staticman.net/v2/entry/ColumbineSpace/columbine.space/master">
  <input name="options[redirect]" type="hidden" value="http://columbine.space">
  <div class="form__spinner mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active" style="border:none"></div>
  <fieldset class="field-group">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" id="movie-form[name]" name="fields[name]"/>
      <label class="mdl-textfield__label" for="movie-form[name]">Your name</label>
    </div>
  </fieldset>


  <fieldset class="field-group">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" id="movie-form[title]" name="fields[title]"/>
      <label class="mdl-textfield__label" for="movie-form[title]">Headline</label>
    </div>
  </fieldset>

  <fieldset class="field-group">
    <div class="mdl-textfield mdl-textfield--floating-label mdl-js-textfield">
      <textarea class="mdl-textfield__input" name="fields[description]" type="text" rows= "3" id="movie-form[description]"></textarea>
      <label class="mdl-textfield__label" for="movie-form[description]">The event/news.</label>
    </div>
  </fieldset>
    <button class="button">
      <strong>Post</strong>
    </button>
  </fieldset>
</form>
     </li>
   </ul>
