<!DOCTYPE html>
<!--[if IE 8]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js {% if page.bg %}bg{% endif %}" lang="en">
<!--<![endif]-->
<head>

   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <title>Columbine.space - The Columbine organization</title>
   <link href="https://fonts.googleapis.com/css?family=Bree+Serif|Rubik:400,700" rel="stylesheet">
   <meta name="description" content="Dedicated to JavaScript and its awesome community since 2015. Get a custom domain for free, check out what is trending or just spread your news">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- page generated {{ site.time | date_to_rfc822 }} -->
   {% include icon.html %}
   {% include ie8.html %}
   {% include style.html %}
   <script>var doc = document.documentElement; doc.className = doc.className.replace("no-js", "");</script>

</head>
<body>
    <script src="particles.js"></script>
    <div id="particles-js"></div>
   {% include header.html %}
   {{ content }}
   {% include footer.html %}
   <link href="css/js.css" rel="stylesheet" property="stylesheet">
    <script>
        /* particlesJS.load(@dom-id, @path-json, @callback (optional)); */
        particlesJS.load('particles-js', 'assets/particles.json', function() {
            console.log('callback - particles.js config loaded');
            console.log('callback - particles.js config loaded');
        });
    </script>
<script>
  ((window.gitter = {}).chat = {}).options = {
    room: 'COLUMBINE_/Chat',
    activationElement: '.my-special-button',
    targetElement: '.my-special-target-element'
  };
</script>
<script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
</body>
</html>
